.ClaimRewardPopup_backdrop__vUF5y {
    background: #000;
    opacity: .5;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.ClaimRewardPopup_popup__2f-2i {
    width: 440px;
    height: 323px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fac57a), to(#ffe0b3));
    background: -webkit-linear-gradient(top, #fac57a, #ffe0b3);
    background: linear-gradient(180deg, #fac57a, #ffe0b3);
    border-radius: 16px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100
}

.ClaimRewardPopup_close__1VW-k {
    height: 56px;
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer
}

.ClaimRewardPopup_title__3iqOh {
    font-family: Elan;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    height: 72px;
    line-height: 72px;
    margin-top: 10px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(132, 82, 12, 0)), color-stop(49.48%, #84520c), to(rgba(132, 82, 12, 0)));
    background: -webkit-linear-gradient(left, rgba(132, 82, 12, 0), #84520c 49.48%, rgba(132, 82, 12, 0));
    background: linear-gradient(90deg, rgba(132, 82, 12, 0), #84520c 49.48%, rgba(132, 82, 12, 0))
}

.ClaimRewardPopup_btn__284zn {
    width: 168px;
    height: 48px;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #fff;
    text-transform: uppercase;
    font-family: Elan;
    font-size: 18px;
    text-align: center;
    line-height: 48px;
    background-image: url(../../../img/btn-yes.png);
    cursor: pointer
}

.ClaimRewardPopup_btnGroup__3f9Nt {
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    padding: 0 40px
}

.ClaimRewardPopup_btnGroup__3f9Nt .ClaimRewardPopup_btn__284zn:last-child {
    background-image: url(../../../img/btn-no.png)
}

.ClaimRewardPopup_text__I-q2- {
    padding: 30px;
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #4c3219;
    font-weight: 700
}

.DytLoading_loading__3Y674 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center
}

.DytLoading_loading__3Y674 img {
    height: 50px;
    border-radius: 50%
}

.MyAccountPopup_inner__18nuP {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 500px;
    padding: 16px;
    background: #130b04;
    border: 1px solid #4d3f35;
    border-radius: 6px;
    z-index: 1000
}

.MyAccountPopup_inner__18nuP,
.MyAccountPopup_inner__18nuP input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff
}

.MyAccountPopup_inner__18nuP input {
    background: rgba(30, 23, 24, .7);
    border: 1px solid #716052;
    border-radius: 8px;
    height: 48px;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px
}

.MyAccountPopup_tabHeader__2pe5L,
.MyAccountPopup_tabHeader__2pe5L li {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center
}

.MyAccountPopup_tabHeader__2pe5L li {
    width: 50%;
    height: 40px;
    font-family: Elan;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    -moz-box-pack: center;
    justify-content: center;
    text-transform: uppercase;
    color: #fed3a6;
    border-radius: 6px;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s
}

.MyAccountPopup_tabHeader__2pe5L li.MyAccountPopup_active__2LKqF {
    background-color: #fed3a6;
    color: #0f0801
}

.MyAccountPopup_copyBtn__2O5hj {
    background: #ff8300;
    border-radius: 6px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    font-family: Elan;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 20px
}

.MyAccountPopup_stat__o5h_P li {
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 15px
}

.MyAccountPopup_listTrans__PZsWi {
    line-height: 1.5;
    color: #fff;
    overflow: auto;
    position: absolute;
    bottom: 0;
    top: 80px;
    width: 100%;
    left: 0;
    padding: 20px
}

.MyAccountPopup_listTrans__PZsWi strong {
    font-family: Squada One;
    font-size: 18px
}

.MyAccountPopup_listTrans__PZsWi li {
    position: relative;
    font-size: 13px;
    border-bottom: 1px solid #403535;
    padding-bottom: 12px;
    margin-bottom: 12px
}

.MyAccountPopup_line__38Yhi {
    margin: 12px auto;
    display: block;
    height: 6px
}

.MyAccountPopup_transHash__9UV1P {
    word-break: break-all;
    padding-right: 70px
}

.MyAccountPopup_verifyBtn__2LDsc {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url(../../../img/play/btn-connect.png);
    color: #fff;
    padding: 5px 15px;
    border-radius: 8px
}

.MyAccountPopup_verifyBtn__2LDsc:hover {
    -webkit-transform: translateY(-50%) scale(1.1);
    transform: translateY(-50%) scale(1.1)
}

.Header_header__OkoDL {
    height: 80px;
    padding: 0 20px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    font-family: Elan;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #eedda1;
    background-image: url(../../../img/bg-play-header.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50%;
    z-index: 10;
    margin-bottom: -16px;
    position: relative
}

@media(max-width:769px) {
    .Header_header__OkoDL {
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -moz-box-align: start;
        align-items: flex-start;
        height: auto;
        background-image: url(../../../img/header.png);
        background-position: top;
        background-size: auto 85px
    }
}

@media(max-width:480px) {
    .Header_header__OkoDL {
        padding: 0 15px
    }
}

.Header_header__OkoDL.Header_existReward__xrJbe {
    background-color: #130b04
}

@media(max-width:769px) {
    .Header_header__OkoDL.Header_existReward__xrJbe {
        margin-bottom: 0
    }
}

.Header_header__OkoDL .Header_logo__1QUnI {
    height: 68px;
    cursor: pointer
}

@media(max-width:480px) {
    .Header_header__OkoDL .Header_logo__1QUnI {
        height: 50px;
        margin: 7px 0
    }
}

.Header_header__OkoDL>ul,
.Header_header__OkoDL>ul li {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    height: 100%
}

.Header_header__OkoDL>ul li {
    margin-left: 30px;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
    position: relative
}

.Header_header__OkoDL>ul li:hover .Header_submenu__3Uw5o {
    opacity: 1;
    visibility: visible;
    pointer-events: auto
}

.Header_header__OkoDL a {
    color: #c7bbb7;
    -webkit-transition: all .4s;
    transition: all .4s
}

.Header_header__OkoDL a.Header_active__31E4u,
.Header_header__OkoDL a:hover {
    color: #ffaa18
}

.Header_header__OkoDL .Header_submenuArrow__1uUmk {
    margin-left: 5px
}

.Header_header__OkoDL .Header_submenu__3Uw5o {
    position: absolute;
    text-transform: none;
    background-color: #000;
    min-width: 150px;
    padding: 10px 20px;
    border-radius: 4px;
    top: 80px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all .4s;
    transition: all .4s
}

.Header_header__OkoDL .Header_submenu__3Uw5o:after {
    content: "";
    border: 10px solid transparent;
    border-bottom-color: #000;
    width: 0;
    height: 0;
    position: absolute;
    top: -20px;
    right: 10px;
    z-index: 1
}

.Header_header__OkoDL .Header_submenu__3Uw5o li {
    padding: 10px 0;
    margin: 0;
    font-size: 14px
}

.Header_headerRight__1HNAh {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-left: auto
}

@media(max-width:769px) {
    .Header_headerRight__1HNAh {
        padding: 10px 20px;
        margin: 0 -20px;
        width: -webkit-calc(100% + 40px);
        width: calc(100% + 40px)
    }
}

@media(max-width:480px) {
    .Header_headerRight__1HNAh {
        flex-wrap: wrap;
        margin: 0 -15px;
        width: -webkit-calc(100% + 30px);
        width: calc(100% + 30px)
    }
    .Header_headerRight__1HNAh .Header_btnBuy__VUnTU {
        display: none
    }
}

.Header_walletInfo__3ZIFZ {
    display: -moz-box;
    display: flex
}

@media(max-width:769px) {
    .Header_walletInfo__3ZIFZ {
        position: absolute;
        right: 20px;
        top: 11px
    }
}

@media(max-width:480px) {
    .Header_walletInfo__3ZIFZ {
        right: 15px;
        top: 15px
    }
}

.Header_headerRewardInfo__2DZBc {
    display: -moz-box;
    display: flex
}

@media(max-width:769px) {
    .Header_headerRewardInfo__2DZBc {
        -moz-box-pack: justify;
        justify-content: space-between;
        background-color: #130b04;
        padding: 20px 20px 30px
    }
}

@media(max-width:480px) {
    .Header_headerRewardInfo__2DZBc {
        top: 70px;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column
    }
}

.Header_rewardBlock__2ELLU {
    padding: 5px 0
}

.Header_reward__b__ZI {
    background: rgba(30, 23, 24, .7);
    border-radius: 8px;
    padding: 0 10px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    border: 1px solid #716052;
    width: 390px;
    position: relative;
    height: 48px
}

@media(max-width:480px) {
    .Header_reward__b__ZI {
        width: 100%;
        margin-bottom: 15px
    }
}

.Header_reward__b__ZI .Header_rewardInfo__2AWGV {
    cursor: pointer
}

.Header_reward__b__ZI small {
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    text-transform: none;
    font-weight: 400;
    display: block;
    color: #fff
}

.Header_reward__b__ZI span {
    color: #e6ab58
}

.Header_reward__b__ZI .Header_refreshBtn__18R2e {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -14px;
    height: 28px
}

.Header_reward__b__ZI .Header_refreshBtn__18R2e img {
    -webkit-transition: all .4s;
    transition: all .4s
}

.Header_reward__b__ZI .Header_refreshBtn__18R2e img:first-child {
    height: 28px
}

.Header_reward__b__ZI .Header_refreshBtn__18R2e img:last-child {
    position: absolute
}

.Header_reward__b__ZI .Header_refreshBtn__18R2e:hover img:last-child {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.Header_rewardList__QK9Md {
    margin: 0;
    background: #201a1a;
    border-radius: 4px;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    z-index: 10;
    min-height: 300px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .4s;
    transition: all .4s
}

@media(max-width:769px) {
    .Header_rewardList__QK9Md {
        width: 500px;
        max-width: 100%;
        display: -moz-box;
        display: flex;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -moz-box-align: end;
        align-items: flex-end;
        position: fixed;
        top: 0!important;
        bottom: 0;
        left: -100%;
        z-index: 10;
        background-color: rgba(20, 16, 9, .9);
        margin: 0;
        opacity: 1;
        visibility: visible
    }
}

.Header_rewardList__QK9Md.Header_show__2PbGy {
    top: 50px;
    opacity: 1;
    visibility: visible
}

@media(max-width:769px) {
    .Header_rewardList__QK9Md.Header_show__2PbGy {
        left: 0
    }
}

.Header_rewardList__QK9Md .Header_closeMenuBars__1jrUI {
    display: none;
    margin-top: 5px;
    margin-right: 0
}

@media(max-width:769px) {
    .Header_rewardList__QK9Md .Header_closeMenuBars__1jrUI {
        display: block
    }
}

.Header_rewardList__QK9Md .Header_listRward__TFJEw {
    max-height: 360px;
    overflow-y: auto;
    margin: 0 -10px 0 0;
    padding-right: 10px;
    width: 100%
}

@media(max-width:769px) {
    .Header_rewardList__QK9Md .Header_listRward__TFJEw {
        max-height: -webkit-calc(100vh - 190px);
        max-height: calc(100vh - 190px)
    }
}

.Header_rewardList__QK9Md .Header_listRward__TFJEw::-webkit-scrollbar {
    width: 4px
}

.Header_rewardList__QK9Md .Header_listRward__TFJEw::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #0d0500
}

.Header_rewardList__QK9Md .Header_listRward__TFJEw::-webkit-scrollbar-thumb {
    background-color: #e6ab58;
    border-radius: 4px
}

.Header_rewardList__QK9Md .Header_listRward__TFJEw li {
    border-bottom: 1px solid #403535;
    position: relative;
    padding: 14px 0;
    min-height: 75px;
    color: #fff
}

.Header_rewardList__QK9Md .Header_listRward__TFJEw li:last-child {
    border-bottom: none
}

.Header_rewardList__QK9Md .Header_listRward__TFJEw li .Header_rewardItemTitle__GCWJJ {
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    text-transform: none;
    margin: 0 0 5px;
    font-family: Squada One
}

.Header_rewardList__QK9Md .Header_listRward__TFJEw li .Header_rewardItemCountdown__3FvE7 {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    text-transform: none;
    display: block
}

.Header_rewardList__QK9Md .Header_listRward__TFJEw li .Header_btnClaim__3qQCS {
    width: 90px;
    background-image: url(../../../img/play/btn-buy.png);
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -18px;
    color: #0f0801;
    font-size: 15px;
    height: 36px
}

.Header_rewardPagination__-I1Sa {
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    text-transform: none
}

.Header_rewardLoading__3Nvtk {
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10
}

.Header_rewardLoading__3Nvtk img {
    border-radius: 50%;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.Header_rewardListTab__3YWtn {
    display: -moz-box;
    display: flex;
    background: #0f0801;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    -moz-box-align: center;
    align-items: center;
    padding: 0 5px;
    border-radius: 6px;
    margin-bottom: 5px;
    width: 100%
}

.Header_rewardListTab__3YWtn>div {
    width: 50%;
    line-height: 40px;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.Header_rewardListTab__3YWtn .Header_rewardListTabActive__7zDuW {
    background: #fed3a6;
    color: #110901
}

.Header_rewardTax__3MeAd {
    font-size: 12px;
    text-align: center;
    color: #fac57a;
    text-transform: none;
    position: absolute;
    right: 20px;
    bottom: 2px;
    font-weight: 400;
    font-family: SF Pro Display
}

.Header_rewardStatus__27TXv {
    color: #ff8300;
    font-weight: 600;
    margin-left: 5px
}

.Header_rewardStatus__27TXv[status=Done] {
    color: #00c24e
}

.Header_swap__1msbr {
    padding: 40px;
    text-align: center;
    color: #e6ab58
}

.Header_swap__1msbr .Header_swapInput__1Rbv0 {
    margin: 30px auto 0;
    position: relative;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center
}

.Header_swap__1msbr .Header_swapInput__1Rbv0 span {
    position: absolute;
    right: 10px;
    color: #ff8300;
    font-weight: 800;
    font-size: 14px;
    cursor: pointer
}

.Header_swap__1msbr .Header_swapInput__1Rbv0 span:hover {
    color: #fff
}

.Header_swap__1msbr input {
    background: #0f0801;
    border: 1px solid #432300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    height: 52px;
    color: #fff;
    padding: 10px 55px 10px 16px;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    outline: none;
    font-family: Squada One
}

.Header_swap__1msbr input::-webkit-inner-spin-button,
.Header_swap__1msbr input::-webkit-outer-spin-button {
    -webkit-appearance: none
}

.Header_swap__1msbr input[type=number] {
    -moz-appearance: textfield
}

.Header_swap__1msbr .Header_swapPriceTxt__2F1uX {
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    font-family: SF Pro Display, sans-serif;
    text-transform: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 30px
}

.Header_swap__1msbr .Header_swapPriceTxt__2F1uX span {
    color: #fff
}

.Header_swap__1msbr .Header_btn__3H6yr {
    margin: 0 auto
}

.Header_btn__3H6yr {
    height: 48px;
    background-size: 100% 100%;
    font-weight: 700;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    color: #eedda1;
    cursor: pointer;
    margin-left: 10px;
    -webkit-transition: all .4s;
    transition: all .4s
}

@media(max-width:480px) {
    .Header_btn__3H6yr {
        height: 36px
    }
}

.Header_btn__3H6yr:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

.Header_btnConnect__5faJw {
    background-image: url(../../../img/play/btn-connect.png);
    color: #fff;
    padding: 0 10px
}

@media(max-width:480px) {
    .Header_btnConnect__5faJw {
        height: 36px;
        padding: 0 3px;
        font-size: 13px
    }
}

.Header_btnConnect__5faJw .Header_iconWrap__3sueq {
    padding: 4px;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#8d4200), to(#d16202));
    background: -webkit-linear-gradient(top, #8d4200, #d16202);
    background: linear-gradient(180deg, #8d4200, #d16202);
    width: 40px;
    height: 40px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    margin-right: 10px
}

@media(max-width:480px) {
    .Header_btnConnect__5faJw .Header_iconWrap__3sueq {
        width: 32px;
        height: 32px
    }
}

.Header_btnConnect__5faJw .Header_iconWrap__3sueq img {
    width: 100%
}

.Header_btnConnect__5faJw span {
    display: block;
    font-size: 14px
}

.Header_btnConnect__5faJw>div {
    width: 70%;
    flex-shrink: 0;
    height: 100%;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-pack: center;
    justify-content: center;
    line-height: 16px;
    font-size: 16px
}

@media(max-width:480px) {
    .Header_btnConnect__5faJw>div {
        font-size: 13px
    }
}

.Header_btnWallet__2FjuJ {
    width: 164px;
    position: relative
}

.Header_btnWallet__2FjuJ:hover .Header_authPopup__2hSla {
    opacity: 1;
    visibility: visible;
    pointer-events: auto
}

.Header_btnBuy__VUnTU {
    background-image: url(../../../img/play/btn-buy.png);
    min-width: 130px;
    color: #381c0b;
    padding: 0 10px
}

@media(max-width:480px) {
    .Header_btnBuy__VUnTU {
        margin-left: 0;
        width: -webkit-calc(50% - 7.5px);
        width: calc(50% - 7.5px)
    }
}

.Header_btnClaim__3qQCS {
    background-image: url(/img/play/btn-claim.png);
    width: 105px
}

.Header_menuMobile__MppoW {
    display: none
}

@media(max-width:1279px) {
    .Header_menuMobile__MppoW {
        display: block;
        width: 500px;
        max-width: 100%;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -moz-box-align: end;
        align-items: flex-end;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -100%;
        z-index: 10;
        background-color: rgba(20, 16, 9, .9);
        margin: 0;
        -webkit-transition: all .4s;
        transition: all .4s
    }
    .Header_menuMobile__MppoW.Header_show__2PbGy {
        right: 0
    }
    .Header_menuMobile__MppoW li {
        width: 100%;
        padding: 10px 20px
    }
}

.Header_closeMenuBars__1jrUI,
.Header_openMenuBars__2ztpI {
    display: none;
    width: 48px;
    margin-left: 10px;
    cursor: pointer
}

@media(max-width:1279px) {
    .Header_closeMenuBars__1jrUI,
    .Header_openMenuBars__2ztpI {
        display: block
    }
}

@media(max-width:480px) {
    .Header_closeMenuBars__1jrUI,
    .Header_openMenuBars__2ztpI {
        width: 36px
    }
}

@media(max-width:1279px) {
    .Header_closeMenuBars__1jrUI {
        width: 22px;
        margin: 20px 20px 50px
    }
}

@media(max-width:480px) {
    .Header_closeMenuBars__1jrUI {
        margin-bottom: 30px
    }
}

@media(max-width:769px) {
    .Header_hideOnMobile__2HoT8 {
        display: none!important
    }
}

.Header_authPopup__2hSla {
    background: #130b04;
    border-radius: 6px;
    width: 300px;
    position: absolute;
    top: 50px;
    right: -14px;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-transform: scale(.9);
    transform: scale(.9)
}

.Header_authPopup__2hSla:after {
    content: "";
    display: block;
    width: 115%;
    height: 115%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0
}

.Header_authPopup__2hSla .Header_line__Tp_Hz {
    max-width: 100%;
    margin: 15px 0
}

.Header_disconnectBtn__1lIQo {
    font-family: Elan;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #e6ab58;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    cursor: pointer
}

.Header_dytBalance__1mm5T {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    font-family: Elan
}

.Header_dytBalance__1mm5T span {
    font-size: 18px
}

.Header_arrowUp__13LxV {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000;
    position: absolute;
    top: -10px;
    right: 10px
}

.Header_error__3BGNz {
    color: red;
    font-size: 12px;
    margin-top: 10px;
    text-transform: none
}

.Footer_footer__3f33N {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
    color: #8a8783;
    font-size: 15px;
    background-color: #1a130e;
    padding: 40px 120px
}

@media(max-width:480px) {
    .Footer_footer__3f33N {
        flex-wrap: wrap;
        -moz-box-pack: center;
        justify-content: center;
        text-align: center;
        padding: 20px
    }
}

.Footer_footer__3f33N ul {
    display: -moz-box;
    display: flex
}

@media(max-width:480px) {
    .Footer_footer__3f33N ul {
        width: 100%;
        -moz-box-pack: center;
        justify-content: center
    }
}

.Footer_footer__3f33N li {
    margin-left: 20px
}

.Footer_footer__3f33N a {
    color: #fff;
    font-weight: 600
}

.Launchpad_container__10Ppw {
    min-height: 90vh;
    padding: 0 8%;
    background-color: #1a130e;
    font-family: Open Sans
}

@media(max-width:769px) {
    .Launchpad_container__10Ppw {
        padding: 0 15px
    }
}

.Launchpad_container__10Ppw * {
    margin: 0
}

.Launchpad_title__2FAiA {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
    padding: 80px 0 40px
}

@media(max-width:480px) {
    .Launchpad_title__2FAiA {
        padding: 50px 0 30px
    }
}

.Launchpad_title__2FAiA h2 {
    color: #fff;
    font-size: 36px;
    line-height: 1
}

@media(max-width:480px) {
    .Launchpad_title__2FAiA h2 {
        font-size: 25px
    }
}

.Launchpad_title__2FAiA button {
    width: 240px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #e6ab58;
    border-radius: 28px;
    outline: none;
    font-family: Elan;
    font-weight: 700;
    color: #e6ab58;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer
}

@media(max-width:480px) {
    .Launchpad_title__2FAiA button {
        width: 200px;
        height: 45px
    }
}

.Launchpad_staked__2LLSk {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    color: #fff;
    padding: 40px 40px 40px 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(#130d09), to(#0d0906));
    background: -webkit-linear-gradient(top, #130d09, #0d0906);
    background: linear-gradient(180deg, #130d09, #0d0906);
    border-radius: 8px
}

@media(max-width:769px) {
    .Launchpad_staked__2LLSk {
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        padding: 20px
    }
}

@media(max-width:480px) {
    .Launchpad_staked__2LLSk {
        -moz-box-align: start;
        align-items: flex-start;
        padding: 20px 20px 0 100px;
        margin: 0 -15px
    }
}

.Launchpad_staked__2LLSk>p {
    font-size: 16px;
    margin-right: 35px;
    text-align: center;
    line-height: 1.5;
    font-weight: 700;
    flex-shrink: 0
}

@media(max-width:769px) {
    .Launchpad_staked__2LLSk>p {
        margin-bottom: 30px
    }
    .Launchpad_staked__2LLSk>p br {
        display: none
    }
}

.Launchpad_listTiers__3pwXy {
    width: 100%;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    justify-content: space-around;
    position: relative
}

@media(max-width:480px) {
    .Launchpad_listTiers__3pwXy {
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -moz-box-align: start;
        align-items: flex-start
    }
}

.Launchpad_listTiers__3pwXy img {
    width: 36px
}

.Launchpad_lineTiers__2u0C- {
    width: 100%;
    height: 8px;
    position: absolute;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: #867163;
    border-radius: 4px
}

@media(max-width:480px) {
    .Launchpad_lineTiers__2u0C- {
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        -moz-box-pack: start;
        justify-content: flex-start;
        width: 8px;
        height: -webkit-calc(100% - 40px);
        height: calc(100% - 40px);
        left: -45px;
        top: 0
    }
    .Launchpad_lineTiers__2u0C- img:not(:last-child) {
        margin-bottom: 140px
    }
}

.Launchpad_tierItem__2Recm {
    text-align: center
}

@media(max-width:480px) {
    .Launchpad_tierItem__2Recm {
        margin-bottom: 40px
    }
}

.Launchpad_tierItem__2Recm h3 {
    font-family: Elan;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 10px;
    color: #957d6b
}

@media(max-width:480px) {
    .Launchpad_tierItem__2Recm h3 {
        font-size: 20px
    }
}

.Launchpad_tierItem__2Recm span {
    color: #fff;
    font-size: 20px;
    font-weight: 600
}

.Launchpad_tierItem__2Recm button {
    display: block;
    margin: 100px auto 0;
    width: 200px;
    height: 48px;
    background-color: #1a130e;
    border-radius: 24px;
    font-family: Elan;
    font-size: 15px;
    color: #0d0906;
    outline: none;
    border: none
}

@media(max-width:769px) {
    .Launchpad_tierItem__2Recm button {
        margin: 80px auto 0
    }
}

@media(max-width:480px) {
    .Launchpad_tierItem__2Recm button {
        margin-top: 20px
    }
}

.Launchpad_upcommingProject__2NIU7 {
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap
}

.Launchpad_project__3tuCk {
    width: -webkit-calc(33.33% - 20px);
    width: calc(33.33% - 20px);
    padding: 0 20px 30px;
    background-color: #130d09;
    border-radius: 8px;
    overflow: hidden;
    color: #fff
}

@media(max-width:769px) {
    .Launchpad_project__3tuCk {
        width: -webkit-calc(33.33% - 10px);
        width: calc(33.33% - 10px)
    }
}

@media(max-width:480px) {
    .Launchpad_project__3tuCk {
        width: 100%;
        margin-bottom: 20px
    }
}

.Launchpad_project__3tuCk .Launchpad_img__1Wl_R {
    height: 0;
    margin: 0 -20px;
    padding-top: 53%;
    background-position: 50%;
    background-size: cover;
    position: relative
}

.Launchpad_project__3tuCk .Launchpad_img__1Wl_R:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(19, 13, 9, 0)), to(#130d09));
    background: -webkit-linear-gradient(top, rgba(19, 13, 9, 0), #130d09);
    background: linear-gradient(180deg, rgba(19, 13, 9, 0), #130d09)
}

.Launchpad_project__3tuCk h5 {
    font-size: 15px;
    font-weight: 400;
    margin: 15px 0 10px
}

.Launchpad_project__3tuCk h5 strong {
    font-weight: 700;
    margin-right: 16px
}

.Launchpad_project__3tuCk h3 {
    font-size: 24px;
    font-family: Elan
}

@media(max-width:480px) {
    .Launchpad_project__3tuCk h3 {
        font-size: 18px
    }
}

.Launchpad_project__3tuCk .Launchpad_listIcon__2kLYS {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    margin: 15px 0 20px
}

.Launchpad_project__3tuCk .Launchpad_listIcon__2kLYS img {
    margin-right: 25px
}

.Launchpad_project__3tuCk p {
    color: #b09c8e;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 5px
}

.Launchpad_project__3tuCk>a {
    color: #b09c8e;
    font-weight: 700
}

.Launchpad_project__3tuCk>a:hover {
    color: #fff
}

.Launchpad_footer__1z4hq {
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: justify;
    justify-content: space-between;
    padding: 160px 0 40px;
    color: #8a8783;
    font-size: 16px
}

@media(max-width:480px) {
    .Launchpad_footer__1z4hq {
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
        text-align: center;
        padding-top: 100px
    }
    .Launchpad_footer__1z4hq span {
        margin: 20px 0
    }
}

.Launchpad_footer__1z4hq ul {
    display: -moz-box;
    display: flex;
    color: #fff
}

.Launchpad_footer__1z4hq li {
    margin-left: 20px
}

.Launchpad_footer__1z4hq li a:hover {
    text-decoration: underline
}